<!DOCTYPE html>
<html>
    <head>
        <title>RandomCompany's Media Server</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/pure.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/grid.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/new.css') }}">
        <script src="{{ url_for('static', filename='scripts/fuse.js') }}"></script>
        <script src="{{ url_for('static', filename='scripts/jquery.js') }}"></script>
        <script src="{{ url_for('static', filename='scripts/autocomplete.js') }}"></script>
        <script type="application/javascript">

            function getsearchtarget()
            {

                //Get the select select list and store in a variable
                var e = document.getElementById("searchtarget");

                //Get the selected value of the select list
                var formaction = e.options[e.selectedIndex].value;

                //Update the form action
                document.searchform.action = formaction;

            }
            </script>
    </head>
    <body>
        <div class="body-container">
            <header class="page-header">
                <div class="container">
                    <div class="title">
                        <a href="/"><span class="inner"></span></a>
                    </div>
                    <ul class="page-nav">
                        <li><a href="{{ url_for('list_artists') }}">Artists</a></li>
                        <li><a href="{{ url_for('list_songs') }}">Songs</a></li>
                        <li><a href="{{ url_for('list_podcasts') }}">Podcasts</a></li>
                        <li><a href="{{ url_for('list_albums') }}">Albums</a></li>
                        <li><a href="{{ url_for('list_tvshows') }}">TV Shows</a></li>
                        <li><a href="{{ url_for('list_movies') }}">Movies</a></li>
                        {% if session.logged_in %}
                            <li><a href="{{ url_for('logout') }}">Logout</a></li>
                            <li></li>
                        {% endif %}
                    </ul>
                </div>
                {% if session.logged_in %}
                    <div style="float:right">
                        <form name="searchform" autocomplete="off" class="Search" method="POST" action="" onsubmit="getsearchtarget()" >
                            <div class="autocomplete" style="width:300px;">
                                <input id='fuzzyinput' type="text" name="searchterm"  placeholder="Search Term" autofocus required >
                            </div>
                            <br/>

                            <div id="movienames">
                                <ul>
                                
                                    {% for instance in allmovies %}
                                    <!-- Each row is a link to each individual tvshow page -->
                                        <li>{{instance.movie_title}}</li>
                                    {% endfor %}
    
                                </ul>
                            </div>

                            <div id="tvshowname">
                                <ul>
                                
                                    {% for instance in alltvshows %}
                                    <!-- Each row is a link to each individual tvshow page -->
                                        <li>{{instance.tvshow_title}}</li>
                                    {% endfor %}
    
                                </ul>
                            </div>

                            <script>
                                document.getElementById("movienames").style.display = "none"
                                document.getElementById("tvshowname").style.display = "none"
                            </script>

                            <select id="searchtarget" name="searchtarget">
                                <option id="tv" value="{{ url_for('search_tvshows' ) }}" selected>TV Shows</option>
                                <!-- TODO Query 10, uncomment the next line by removing the brace+hashtag to add this menu option -->
                                <option id="movie" value="{{ url_for('search_movies' ) }}">Movies</option>
                                <ul id="list"></ul>
                                {# <option value="{{ url_for('search_songs' ) }}">Songs</option> #}
                                {# <option value="{{ url_for('search_artists' ) }}">Artists</option> #}
                                {# <option value="{{ url_for('search_albums' ) }}">Albums</option> #}
                                {# <option value="{{ url_for('search_podcasts' ) }}">Podcasts</option> #}
                            </select>
                            <button type="submit">Search</button>
                        </form>
                    </div>
                {% endif %}
            </header>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% if page.bar == True %}
                        <ul class="flashes" style="background-color: #0B0">
                    {% else %}
                        <ul class="flashes" style="background-color: #B00">
                    {% endif %}
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}

<script>

    var movieList = [];
    var tvshowList = [];
    var navbar1 = Array.from(document.querySelectorAll('#movienames>ul>li'));
    var navbar2 = Array.from(document.querySelectorAll('#tvshowname>ul>li'));
    for (var i=0; i<navbar1.length; i++){
        movieList.push(String(navbar1[i].innerHTML));
    }
    for (var i=0; i<navbar2.length; i++){
        tvshowList.push(String(navbar2[i].innerHTML));
    }


    function autocomplete(inp, arr) {
    /*the autocomplete function takes two arguments,
    the text field element and an array of possible autocompleted values:*/
    var currentFocus;
    /*execute a function when someone writes in the text field:*/
    inp.addEventListener("input", function(e) {
        var a, b, i, val = this.value;
        /*close any already open lists of autocompleted values*/
        closeAllLists();
        if (!val) { return false;}
        currentFocus = -1;
        /*create a DIV element that will contain the items (values):*/
        a = document.createElement("DIV");
        a.setAttribute("id", this.id + "autocomplete-list");
        a.setAttribute("class", "autocomplete-items");
        a.setAttribute("style", "z-index: 999");
        a.setAttribute("style", "position: relative");
        /*append the DIV element as a child of the autocomplete container:*/
        this.parentNode.appendChild(a);
        /*for each item in the array...*/

        const options = {includeScore: true, distance:val.length+10, threshold: 0.3}

        const fuse = new Fuse(arr, options)

        var result = fuse.search(val)

        for (i = 0; i < result.length; i++) {
            b = document.createElement("DIV");
            match_result = result[i].item
            console.log(match_result);
            b.innerHTML ="<strong>" + match_result + "</strong>";
            b.innerHTML += "<input type='hidden' value='" + match_result + "'>";
            b.addEventListener("click", function(e) {
                /*insert the value for the autocomplete text field:*/
                inp.value = this.getElementsByTagName("input")[0].value;
                /*close the list of autocompleted values,
                (or any other open lists of autocompleted values:*/
                closeAllLists();
            });
            a.appendChild(b);
            console.log(a)
        }
    });

    /*execute a function presses a key on the keyboard:*/
    inp.addEventListener("keydown", function(e) {
        var x = document.getElementById(this.id + "autocomplete-list");
        if (x) x = x.getElementsByTagName("div");
        if (e.keyCode == 40) {
            /*If the arrow DOWN key is pressed,
            increase the currentFocus variable:*/
            currentFocus++;
            /*and and make the current item more visible:*/
            addActive(x);
        } else if (e.keyCode == 38) { //up
            /*If the arrow UP key is pressed,
            decrease the currentFocus variable:*/
            currentFocus--;
            /*and and make the current item more visible:*/
            addActive(x);
        } else if (e.keyCode == 13) {
            /*If the ENTER key is pressed, prevent the form from being submitted,*/
            e.preventDefault();
            if (currentFocus > -1) {
            /*and simulate a click on the "active" item:*/
            if (x) x[currentFocus].click();
            }
        }
    });
    
    function addActive(x) {
        /*a function to classify an item as "active":*/
        if (!x) return false;
        /*start by removing the "active" class on all items:*/
        removeActive(x);
        if (currentFocus >= x.length) currentFocus = 0;
        if (currentFocus < 0) currentFocus = (x.length - 1);
        /*add class "autocomplete-active":*/
        x[currentFocus].classList.add("autocomplete-active");
    }
    function removeActive(x) {
        /*a function to remove the "active" class from all autocomplete items:*/
        for (var i = 0; i < x.length; i++) {
        x[i].classList.remove("autocomplete-active");
        }
    }
    function closeAllLists(elmnt) {
        /*close all autocomplete lists in the document,
        except the one passed as an argument:*/
        var x = document.getElementsByClassName("autocomplete-items");
        for (var i = 0; i < x.length; i++) {
        if (elmnt != x[i] && elmnt != inp) {
        x[i].parentNode.removeChild(x[i]);
        }
    }
    }
    /*execute a function when someone clicks in the document:*/
    document.addEventListener("click", function (e) {
        closeAllLists(e.target);
    });
    }

</script>

<script>

    autocomplete(document.getElementById("fuzzyinput"), tvshowList);
    document.getElementById("searchtarget").onchange = function() {
        if (document.getElementById("searchtarget").value == "{{ url_for('search_tvshows' ) }}") {
            console.log("Tvshow")
            autocomplete(document.getElementById("fuzzyinput"), tvshowList);

        } else if (document.getElementById("searchtarget").value == "{{ url_for('search_movies' ) }}") {
            console.log("Movies")
            autocomplete(document.getElementById("fuzzyinput"), movieList);
        }
    }

</script>