{% include 'top.html' %}
<div class="content">
    <div class="container details">
        <!-- Check if We have a valid Album -->
        {% if album | length > 0 %}
            <h2 class="title"> {{album[0].album_title}}</h2>
            <hr/>
            <h3> Artworks </h3>
            {% for instance in album %}
                {% if instance.md_type_name == 'artwork' %}
                    <img src="{{instance.md_value}}" alt="image" width="300" height="300">
                    <br/>© Spotify Public Domain 2019.
                {% endif %}
            {% endfor %}
            <br/>
            <h3> Descriptions </h3>
            {% for instance in album %}
                {% if instance.md_type_name == 'description' %}
                    <div>
                        {{instance.md_value}}
                    </div>
                {% endif %}
            {% endfor %}
            <br/>
            <h3> Genres </h3>
            {% for instance in album_genres %}
                    {{instance.songgenres}}
            {% endfor %}
            <div>
                <!-- All Songs -->
                <table class="styled">
                    <thead>
                        <tr>
                            <td>Song ID</td>
                            <td>Song Title</td>
                            <td>Artists</td>
                        </tr>
                    </thead>
                    <tbody>
                        {% for instance in album_songs %}
                        <tr class="clickable-tr" data-href="{{ url_for('single_song', song_id=instance.song_id)}}">
                            <td style="text-align: center">{{ instance.song_id }}</td>
                            <td>{{instance.song_title}}</td>
                            <td>{{instance.artists}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
        
                </table>
        
            </div>
        {% else %}
            <h2 class="title"> Invalid Album ID</h2>
        {% endif %}
    </div>
</div>
{% include 'bottom.html'%}
