{% include 'top.html' %}
<div class="content">
    <div class="container details">
        {% if podcast | length > 0 %}
            <h2 class="title"> {{podcast[0].podcast_title}}</h2>
            <hr/>
            <h3> Artworks </h3>
            {% for instance in podcast %}
                {% if instance.md_type_name == 'artwork' %}
                    <img src="{{instance.md_value}}" alt="image" width="100" height="100">
                    <br/>© Amazon Public Domain 2019.
                {% endif %}
            {% endfor %}
            <br/>
            <h3> Descriptions </h3>
            {% for instance in podcast %}
                {% if instance.md_type_name == 'description' %}
                    <div>
                        {{instance.md_value}}
                    </div>
                {% endif %}
            {% endfor %}
            <br/>
            <h3> Genres </h3>
            {% for instance in podcast %}
                {% if instance.md_type_name == 'podcast genre' %}
                    <div>
                        {{instance.md_value}}
                    </div>
                {% endif %}
            {% endfor %}
            <div>
                    <!-- Podcast Episodes -->
                    <h3>Episodes for this Podcast</h3>
                    <table class="styled">
                        <thead>
                            <tr>
                                <td>Podcast Episode Media ID</td>
                                <td>Podcast Episode Title</td>
                                <td>Podcast Episode URI</td>
                                <td>Podcast Episode Published Date</td>
                                <td>Podcast Episode Length</td>
                            </tr>
                        </thead>
                        <tbody>
                            {% for instance in podcasteps %}
                            <tr class="clickable-tr" data-href="{{ url_for('single_podcastep', media_id=instance.media_id)}}">
                                <td style="text-align: center">{{ instance.media_id }}</td>
                                <td>{{instance.podcast_episode_title}}</td>
                                <td>{{instance.podcast_episode_uri}}</td>
                                <td>{{instance.podcast_episode_published_date}}</td>
                                <td>{{instance.podcast_episode_length}}</td>
                                
                            </tr>
                            {% endfor %}
                        
                        </tbody>
            
                    </table>
            
                </div>
            {% endif %}
    </div>
</div>
{% include 'bottom.html'%}
