{% include 'top.html' %}
<div class="content">
    <div class="container details">
        <!-- Check if We have a valid song -->
        {% if song | length > 0 %}
            <h2 class="title"> {{song[0].song_title}} by {{song[0].artists}}</h2>
            <br/>
            Song is {{song[0].length}} seconds long.
            <hr/>
            <h3> Artworks </h3>
            {% for instance in songmetadata %}
                {% if instance.md_type_name == 'artwork' %}
                    <img src="{{instance.md_value}}" alt="image" width="300" height="300">
                    <br/>© Spotify Public Domain 2019.
                {% endif %}
            {% endfor %}
            <br/>
            <h3> Descriptions </h3>
            {% for instance in songmetadata %}
                {% if instance.md_type_name == 'description' %}
                    <div>
                        {{instance.md_value}}
                    </div>
                {% endif %}
            {% endfor %}
            <br/>
            <h3> Genres </h3>
            {% for instance in songmetadata %}
                {% if instance.md_type_name == 'song genre' %}
                    <div>
                        {{instance.md_value}}
                    </div>
                {% endif %}
            {% endfor %}
        {% else %}
            <h2 class="title"> Invalid Song ID</h2>
        {% endif %}
    </div>
</div>
{% include 'bottom.html'%}
